// Header Link ----------------------------------------
.header-link {
    position: relative;
    transition: color 0.2s ease-in;

    &::after {
        content: '';
        position: absolute;
        left: 1px;
        bottom: -3px;
        width: 100%;
        max-width: 0;
        height: 2.5px;
        background: var(--primary);

        transition: max-width 0.2s ease-in;
    }

    &.active {
        &::after {
            max-width: 20px;
        }
    }

    &:hover {
        &::after {
            max-width: 100%;
        }
    }
}
// ----------------------------------------------

// ------------------- Header burger --------------------
#headerBurgerNav {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    // transition: opacity 100ms ease-in;
    display: flex;
    padding: 2rem 0;
    pointer-events: none;
    opacity: 0;

    &.active {
        top: 75px;
        opacity: 1;
        pointer-events: all;
        transition: position 500ms ease-out, opacity 100ms ease-in;
    }
}
// ------------------------------------------------------

// --------------------- Services Grid ---------------------
.services {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4rem;
    justify-items: center;

    &-title {
        padding-right: 1.75rem;
        grid-column: 1 / 3;
    }

    &-item {
        max-width: 20rem;
    }

    @media (max-width: 1024px) {
        grid-gap: 2rem;
        grid-template-columns: repeat(2, 1fr);

        &-item {
            max-width: 100%;
        }
    }

    @media (max-width: 640px) {
        grid-gap: 2rem;
        grid-template-columns: 1fr;
        justify-items: start;

        &-item {
            max-width: 100%;
        }

        &-title {
            padding-right: 1.75rem;
            grid-column: 1 / 2;
        }
    }
}
// --------------------- ------------- ---------------------

// --------------- Carousel Styles on Index Page --------------------------
.carousel-root {
    .thumbs-wrapper {
        display: none;
    }

    // slider controls
    .carousel-slider {
        [data-dir='prev'],
        [data-dir='next'] {
            position: absolute;
            z-index: 10;
            bottom: 10px;
        }

        [data-dir='prev'] {
            right: 50px;
        }

        [data-dir='next'] {
            right: 10px;
        }
    }
}
// ------------------------------------------------------------------------

// ------------------------ Work Examples Grid ----------------------------
.index-work-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(250px, 1fr));
    // grid-template-rows: repeat(auto, minmax(350px, 1fr));
    grid-gap: 3rem;

    &--item {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        // padding: 1rem;
        border-radius: 10px;
        border: 2px solid transparent;
        min-height: 400px;

        img {
            transition: transform 0.67s ease-out;
        }

        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }

    @media (min-width: 700px) {
        grid-template-columns: repeat(2, minmax(250px, 1fr));
        min-height: auto;
    }

    @media (min-width: 1024px) {
        grid-template-columns: repeat(3, minmax(250px, 1fr));
        // gap: 2rem;

        &--item {
            // padding: 2rem;

            &-big {
                grid-row: span 2;
            }
        }
    }
}
// ------------------------------------------------------------------------
// ------------------------ Footer ------------------------
.footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 3rem;

    @media (min-width: 560px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 944px) {
        grid-template-columns: repeat(4, 1fr);
    }

    &__section {
        display: flex;
        flex-direction: column;
        max-width: 300px;

        @media (max-width: 944px) {
            &:nth-child(2),
            &:nth-child(3) {
                display: none;
            }
        }

        &--header {
            margin-bottom: 0.7rem;
        }

        &--body {
            font-size: 0.9rem;
        }
    }
}
// --------------------------------------------------------

// --------------------- Process Page Arrows ---------------------
.process-arrow {
    width: 50px;
    height: 350px;
    display: none;

    &__one {
        position: absolute;
        left: 180px;
        bottom: 10px;
        transform: rotate(90deg) scaleY(-1);
    }

    &__two {
        position: absolute;
        left: 400px;
        top: 10px;
        transform: rotate(90deg) scaleY(-1) scaleX(-1);
    }

    &__three {
        position: absolute;
        right: 250px;
        bottom: 10px;
        transform: rotate(90deg) scaleY(-1);
    }

    @media (min-width: 1024px) {
        display: block;
    }

    @media (min-width: 1205px) {
        width: 70px;

        &__two {
            left: 500px;
        }
    }

    @media (min-width: 1460px) {
        width: 90px;

        &__two {
            left: 600px;
        }

        &__three {
            right: 360px;
        }
    }
}
// ---------------------------------------------------------------

// --------------------- FAQ on contacts page ---------------------
.faq-item {
    &__question {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        border: 1px solid var(--app-border);
        border-radius: 7px;
        font-weight: 500;
        color: var(--app-title);
        cursor: pointer;
    }

    &__answer {
        color: var(--app-text);

        overflow: hidden;
        max-height: 0;
        will-change: max-height;
        transition: max-height 0.25s ease;

        &--inner {
            padding: 1rem;
            font-size: 0.9rem;
            opacity: 0;
            will-change: opacity;
            transition: opacity 0.25s ease-out;
        }
    }

    &.active {
        .faq-item__answer {
            max-height: 200px;
            transition: max-height 0.3s ease-in;

            &--inner {
                opacity: 1;
                transition: opacity 0.3s ease-out;
            }
        }
    }
}
// ----------------------------------------------------------------
